@font-face {
  font-family: 'josefin_sans';
  src: url('../fonts/josefinsans-regular.woff2') format('woff2'),
    url('../fonts/josefinsans-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'josefin_sans';
  src: url('../fonts/josefinsans-bold.woff2') format('woff2'),
    url('../fonts/josefinsans-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}

@font-face {
  font-family: 'aleo';
  src: url('../fonts/aleoregular.woff2') format('woff2'),
    url('../fonts/aleoregular.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}